* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  justify-content: center;
}

.header > li {
  list-style-type: none;
  margin: 20px;
}

#barchart,
#chart,
#scatterplot,
#linechart,
#mapchart,
#globe,
#boxplot,
#calendar {
  display: flex;
  justify-content: center;
}

.controls-scatterplot {
  display: flex;
  justify-content: center;
}
.controls-scatterplot > #reset {
  margin-left: 20px;
}

.controls-groupedandstackedchart,
.controls-mapchart,
.chart-header {
  display: flex;
  justify-content: center;
}

.controls-groupedandstackedchart > label,
.controls-mapchart > label {
  margin-left: 20px;
}
